
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: linear-gradient(135deg, #f8b500, #fceabb); /* Gradiente de fondo */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #4d4d4d;
}


.Todolis {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  width: 400px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column; /* Flex para acomodar el contenido */
  justify-content: flex-start; /* Que el contenido se alinee al inicio */
}

.Todolis:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}


h1 {
  color: #ff8c00;
  font-weight: 600;
  font-size: 64px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
h1:hover {
  color: #f15a24;
}

/* Estilo para el input y el botón de agregar */
input[type="text"] {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 2px solid #ddd;
  font-size: 18px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
input[type="text"]:focus {
  border-color: #f15a24;
  box-shadow: 0 0 8px rgba(241, 90, 36, 0.2);
}

button {
  background-color: #ff8c00;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
button:hover {
  background-color: #f15a24;
  box-shadow: 0 6px 12px rgba(241, 90, 36, 0.2);
}



/* Estilos para la lista de tareas */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px; /* Espacio debajo de la lista */
  flex-grow: 1; /* Permite que la lista crezca */
  overflow-y: auto; /* Añade scroll si la lista crece demasiado */
  max-height: 300px; /* Limita el tamaño máximo de la lista */
}

li {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

li:hover {
  background-color: #fceabb;
  transform: translateX(5px);
}

li button {
  background-color: transparent;
  border: none;
  color: #cc9a9a;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}


li button:hover {
  color: #ff8c00;
}
/* Número de tareas restantes */
footer {
  color: #777;
  font-size: 14px;
  margin-top: 20px;
  text-align: left;
}

footer span {
  font-weight: bold;
}
